/* CSS RESET */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS RESET END */
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* TYPOGRAPHY */
@font-face {
  font-family: 'FreightDispBold';
  src: url('./../assets/fonts/FreightDispProBold-Regular.ttf');
}

@font-face {
  font-family: 'FreightDispLight';
  src: url('./../assets/fonts/FreightDispProLight-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
/* font-family: 'Montserrat', sans-serif; */

html {
  font-size: 100%;
} /*16px*/

body {
  font-family: 'FreightDispLight', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

p {
  margin-bottom: 1rem;
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

li {
  font-size: 1.6rem;
  color: var(--beige-color);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2rem 0 1.3rem;
  font-family: 'FreightDispBold', sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: rgb(255, 255, 255);
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small,
.text_small {
  font-size: 0.75rem;
}

/* TYPOGRAPHY END */
/* GLOBAL STYLES */
:root {
  --green-color: #051a0a;
  --beige-color: #e2b699;
  --gray-color: #8f8c8c;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3em;
}

.hidden {
  display: none;
}
/* GLOBAL STYLES END */
/* MAIN STYLES */
body {
  background-color: var(--green-color);
}

header {
  display: flex;
  padding: 50px 120px;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0));
}

.hero {
  background: url('../assets/wall.jpg');
  background-size: cover;
  height: 900px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0), var(--green-color));
}

.nav-logo {
  width: 200px;
}

.hero-nav ul {
  display: flex;
  gap: 40px;
  text-decoration: none;
}

.hero-nav a {
  position: relative;
}

.hero-nav a::before {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    90deg,
    var(--beige-color),
    var(--beige-color)
  ); /* underline color */
  background-size: 0 2px; /* vertical size of underline */
  background-repeat: no-repeat;
  background-position: left bottom; /* start position of underline */
  transition: background-size 0.2s ease-in; /* duration and timing style of animation */
}

.hero-nav a:hover::before {
  background-size: 100% 2px;
}

.hero-msg {
  z-index: 3;
  align-self: center;
  text-align: center;
}

.scroll-down {
  z-index: 3;
  align-self: center;
  margin-bottom: 10px 0 90px;
  width: 30px;
  transition: 0.2s ease-in;
  margin-bottom: 60px;
}

.scroll-down:hover {
  transform: scale(1.2);
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-title h5 {
  font-family: 'Monsterrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  color: var(--beige-color);
}

.section-title h5::before {
  content: '';
  height: 2px;
  width: 100%;
  background: var(--beige-color);
  position: absolute;
  top: 40px;
}

.section-title {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.duo-para {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 40px 0;
}

.duo-para p {
  max-width: 530px;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 30px;
}

.play-btn {
  width: 80px;
  position: absolute;
  cursor: pointer;
  transition: 0.2s ease-in;
  opacity: 100%;
}

.video {
  transition: 0.2s ease-in;
}

.bright-filter {
  filter: brightness(70%);
}

.play-btn:hover {
  transform: scale(1.1);
}

.reasons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
  color: white;
  background: linear-gradient(var(--beige-color), var(--beige-color)) center/2px 120% no-repeat;
  padding: 23px 0;
  margin: 40px 0;
}

.reasons-grid div {
  position: relative;
}

.reasons-grid h5 {
  margin: 0;
}

.reasons-grid img {
  width: 350px;
}

.left-cell {
  text-align: right;
  padding: 0 15px 15px 0;
}

.left-cell::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--beige-color);
  top: 0;
  right: -7px;
}

.right-cell {
  padding: 0 0px 15px 15px;
}

.right-cell::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--beige-color);
  top: 0;
  left: -7px;
}

.img-cell {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
}

.img-cell-two {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
}

/* MAIN STYLES END */
